.acd-pacman {
  width: 0px;
  height: 0px;
  border-right: 40px solid transparent;
  border-left: 40px solid yellow;
  border-top: 40px solid yellow;
  border-bottom: 40px solid yellow;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  position: relative;

  &::after {
    content: ' ';
    width: 200px;
    height: 400px;
    display: block;
    position: relative;
    left: 15px;
    bottom: 6px;
    border-top: dotted 15px white;
    border-right: dotted 15px white;
  }
}
